asgiref==3.4.1
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.8
cryptography==36.0.0
cycler==0.11.0
defusedxml==0.7.1
Deprecated==1.2.13
dj-database-url==0.5.0
dj-rest-auth==2.1.11
Django==3.2.9
django-allauth==0.46.0
django-braces==1.15.0
django-cors-headers==3.10.0
django-filter==21.1
django-googledrive-storage==1.6.0
django-heroku==0.3.1
django-oauth-toolkit==1.5.0
django-oauth2-provider==0.2.6.1
django-rest-framework==0.1.0
django-rest-framework-social-oauth2==1.1.0
django-seed==0.3.1
django-storages==1.12.3
djangorestframework==3.12.4
djangorestframework-simplejwt==5.0.0
drf-social-oauth2==1.0.9
dropbox==11.25.0
Faker==10.0.0
fdm==0.4.1
fonttools==4.28.3
google-api-core==2.3.0
google-api-python-client==2.33.0
google-auth==1.35.0
google-auth-httplib2==0.1.0
google-cloud-core==2.2.1
google-cloud-storage==1.43.0
google-crc32c==1.3.0
google-resumable-media==2.1.0
googleapis-common-protos==1.54.0
gunicorn==20.1.0
httplib2==0.20.2
idna==3.3
importlib-metadata==4.8.2
jwcrypto==1.0
kiwisolver==1.3.2
Markdown==3.3.6
matplotlib==3.5.0
mpmath==1.2.1
numpy==1.21.4
oauthlib==3.1.1
packaging==21.3
Pillow==8.4.0
plum-dispatch==1.5.6
ply==3.11
protobuf==3.19.1
provider==0.1.0
providers==0.0.2

psycopg2-binary==2.9.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyJWT==2.3.0
pyparsing==3.0.6
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2021.3
requests==2.26.0
requests-oauthlib==1.3.0
response==0.5.0
rest-social-auth==7.0.0
rsa==4.8
scipy==1.7.3
setuptools-scm==6.3.2
shortuuid==1.0.8
six==1.16.0
social-auth-app-django==5.0.0
social-auth-core==4.1.0
sqlparse==0.4.2
stone==3.2.1
stripe==2.64.0
sympy==1.9
text-unidecode==1.3
tomli==1.2.2
toposort==1.7
typing_extensions==4.0.0
uritemplate==4.1.1
urllib3==1.26.7
whitenoise==5.3.0
wrapt==1.13.3
zipp==3.6.0
