{% extends 'InstructorDashboard/base/base.html' %}
{% block title_block %}Swim Time Instructor{% endblock %}
{% load static %}
{% block exttra_style %}
    <!-- Plugins css -->
    <link href="https://mannatthemes.com/dastone-1/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css"
          rel="stylesheet"/>

    <link href="{% static 'css/dropify.min.css' %}" rel="stylesheet" type="text/css"/>

{% endblock %}
{% block page_content %}

    <!-- Page Content-->
    <div class="page-content">
        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="row">
                            <div class="col">
                                <h4 class="page-title">Update Class</h4>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);" style="cursor: default">Class</a>
                                    </li>
                                    <li class="breadcrumb-item active">Update</li>
                                </ol>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end page-title-box-->
                </div><!--end col-->
            </div><!--end row-->
            <!-- end page title end breadcrumb -->


            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header btn-gradient-dark">
                            <h3 class="card-title text-white">UPDATE CLASS</h3>
                        </div><!--end card-header-->
                        <div class="card-body">
                            <form method="post" action="{% url 'InstructorDashboard:class_update_form' instance.id %}"
                                  enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Title</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="ti-notepad "></i></span>
                                                </div>
                                                <input name="title" type="text" class="form-control input_suggestion"
                                                       maxlength="255" autocomplete="false"
                                                       value="{{ instance.title }}" placeholder="Enter Title of class"
                                                       required>
                                                {% if errors.title %}
                                                    {% for error in errors.title %}
                                                        <div style="color: red">{{ error }} </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Class Duration (in minutes)</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i
                                                            class="mdi mdi-calendar-clock"></i></span>
                                                </div>
                                                <input name="time_slot" type="number" class="form-control"
                                                       min="1" max="120"
                                                       id="exampleFormControlInput1"
                                                       value="{{ instance.time_slot }}"
                                                       placeholder="Enter Class Duration" required>

                                                {% if errors.time_slot %}
                                                    {% for error in errors.time_slot %}
                                                        <div style="color: red">{{ error }} </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Total Days</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i
                                                            class="mdi mdi-calendar-range "></i></span>
                                                </div>
                                                <input name="total_days" type="number" class="form-control"
                                                       id="exampleFormControlInput1" min="1" max="120"
                                                       value="{{ instance.total_days }}" placeholder="Enter Total Days"
                                                       required>
                                                {% if errors.total_days %}
                                                    {% for error in errors.total_days %}
                                                        <div style="color: red">{{ error }} </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Fees</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">USD</span>
                                                </div>
                                                <input name="price" type="number" class="form-control" min="1"
                                                       max="10000"
                                                       value="{{ instance.price }}" placeholder="Enter Fees" required>
                                                {% if errors.price %}
                                                    {% for error in errors.price %}
                                                        <div style="color: red">{{ error }} </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                 <div class="col-md-6">
{#                                        <div class="row align-items-center">#}
{#                                            <div class="col">#}
{#                                                <h4 class="card-title">Update payment range</h4>#}
{#                                            </div><!--end col-->#}
{#                                        </div>  <!--end row-->#}
{#                                    <label>Description</label>#}
                                        <div class="d-flex justify-content-between">
                                            <label>Update payment range</label>
                                            <span class="result_value"><span id="result_value"></span>%</span>
                                        </div>
                                        <div class="input-group">
                                            <input id="update_payment_range" name="range" type="range"
                                                   class="form-control" style=" padding-left: 8px; padding-right: 0;"
                                                   min="5" max="100"
                                                   value="{{ payment_range }}" step="5"
                                                   required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mb-0">
                                            <label>Description</label>
                                            <textarea name="description" class="form-control input_suggestion"
                                                      rows="5" maxlength="500"
                                                      value="{{ instance.description }}"
                                                      required>{{ instance.description }}</textarea>
                                            {% if errors.description %}
                                                {% for error in errors.description %}
                                                    <div style="color: red">{{ error }} </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>


                                    <div class="col-md-6 ">
                                        <div class="form-group mb-0">
                                            <label>Image</label>
                                            <input type="file" value="{{ instance.thumbnail_image }}"
                                                   name="thumbnail_image" id="input-file-now"
                                                   accept="image/png, image/jpg, image/jpeg, image/jfif"
                                                   class="dropify" data-height="400"
                                                   data-default-file="{{ instance.thumbnail_image.url }}"/>

                                            {% if errors.thumbnail_image %}
                                                {% for error in errors.thumbnail_image %}
                                                    <div style="color: red">{{ error }} </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>



                                    <div class="col-md-6"></div>


                                    <div class="col-md-6">
                                        <div class="form-group mb-0">
                                            <br>
                                            <input type="submit" value="Update"
                                                   class="btn btn-primary btn-block waves-effect waves-light">
                                        </div>
                                    </div>
                                </div>


                            </form>
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div> <!-- end col -->
            </div>

        </div>
    </div>

{% endblock %}

{% block extra_script %}
    <!-- Plugins js -->
    <script src="https://mannatthemes.com/dastone-1/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="https://mannatthemes.com/dastone-1/plugins/select2/select2.min.js"></script>
    <script src="https://mannatthemes.com/dastone-1/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <script src="https://mannatthemes.com/dastone-1/plugins/timepicker/bootstrap-material-datetimepicker.js"></script>
    <script src="https://mannatthemes.com/dastone-1/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script>
        !(function (e) {
            "use strict";
            var t = function () {
            };
            (t.prototype.init = function () {
                e("input.input_suggestion").maxlength({
                    alwaysShow: !0,
                    warningClass: "badge badge-success",
                    limitReachedClass: "badge badge-danger",
                    separator: " out of ",
                    preText: "You typed ",
                    postText: " chars available.",
                    validate: !0
                }),
                    e("textarea.input_suggestion").maxlength({
                        alwaysShow: !0,
                        warningClass: "badge badge-success",
                        limitReachedClass: "badge badge-danger",
                        separator: " out of ",
                        preText: "You typed ",
                        postText: " chars available.",
                        validate: !0
                    });
            }),
                (e.AdvancedForm = new t()),
                (e.AdvancedForm.Constructor = t);
        })(window.jQuery),
            (function (t) {
                "use strict";
                window.jQuery.AdvancedForm.init();
            })();
    </script>

    <script>
        var slider = document.getElementById("update_payment_range");
        var output = document.getElementById("result_value");
        output.innerHTML = slider.value;
        slider.oninput = function () {
            output.innerHTML = this.value;
        }
    </script>

    <script src="{% static 'js/dropify.min.js' %}"></script>
    <script src="{% static 'pages/jquery.form-upload.init.js' %}"></script>
{% endblock %}