{% load static %}
{#{% if messages %}#}
{##}
{#{% for message in messages %}#}
{#    <div aria-live="polite" id="msg"  aria-atomic="true" style="position: relative; z-index:2; min-height: 200px;">#}
{##}
{#  <div style="position: fixed; top: 20px; right: 20px;">#}
{##}
{#    <div role="alert" aria-live="assertive" aria-atomic="true" class="toast {{ message.tags }} container-fluid" data-autohide="false" style="z-index:-1;margin-top: 20%;">#}
{#      <div class="toast-header">#}
{#          <br>#}
{##}
{#       <img src="{% static 'assets/img/logo2.png' %}" style="width:40px;height:30px;"/>#}
{##}
{#        <strong class="mr-auto">Swim Time Solution</strong>#}
{#        <small></small>#}
{##}
{##}
{#    </button>#}
{#      </div><br>#}
{#      <div class="toast-body container-fluid" align="center" style="color: #0c0f26">#}
{#          <b>{{ message }}</b>#}
{#          <br><br>#}
{#      </div>#}
{#    </div>#}
{##}
{##}
{##}
{#  </div>#}
{#</div>#}
{##}
{#    <script type="text/javascript">#}
{#setTimeout(function (){#}
{#       if ($('#msg').length>0){#}
{#           $('#msg').remove();#}
{#       }#}
{#   }, 4000)#}
{##}
{#    </script>#}
{#{% endfor %}#}
{#{% endif %}#}

{% for message in messages %}
<div style="float:right;position:fixed;width:80%;min-height:200px;z-index:2;margin-top: 70px;">
<!-- Flexbox container for aligning the toasts -->
<div aria-live="polite" id="msg" aria-atomic="true" class="d-flex justify-content-center align-items-center" style="position:relative;float:right; ">

  <!-- Then put toasts within -->
  <div class="toast {{ message.tags }}" role="alert" aria-live="assertive" aria-atomic="true" style="text-align:center;">

        <div class="toast-header" >
      <img src="{% static 'assets/img/logo2.png' %}" class="rounded mr-2" alt="..." style="width:40px;height:30px;">
      <strong class="mr-auto">Swim Time Solutions &nbsp;&nbsp; </strong>

      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&nbsp;&nbsp; &times; &nbsp;&nbsp;</span>
      </button>
        </div>
    <div class="toast-body" >
      {{ message }}
        <br><br>
    </div>
  </div>
</div>
</div>
{% endfor %}
  <script type="text/javascript">
setTimeout(function (){
       if ($('#msg').length>0){
           $('#msg').remove();
       }
   }, 4000)

    </script>

