{% extends 'base.html' %}
{% load static %}

{% block sidebar_content %}
    <a _ngcontent-nwk-c28="" href={% url 'dashboard_view' %} class="">
                        <div _ngcontent-nwk-c28="" class="tab-link first">
                            <div _ngcontent-nwk-c28="" class="img-div img-div-one"></div>
                            <h3 _ngcontent-nwk-c28="">INSTRUCTOR</h3></div>
                    </a>
                    <a _ngcontent-nwk-c28="" href={% url 'schedule' %} class="active">
                        <div _ngcontent-nwk-c28="" class="tab-link">
                        <div _ngcontent-nwk-c28="" class="img-div img-div-two"></div>
                        <h3 _ngcontent-nwk-c28="">MY SCHEDULE</h3></div>
                    </a>
                    <a _ngcontent-nwk-c28="" href={% url 'repayment_classes' %} class="">
                    <div _ngcontent-nwk-c28="" class="tab-link">
                        <div _ngcontent-nwk-c28="" class="img-div img-div-four"></div>
                        <h3 _ngcontent-nwk-c28="">PAYMENT</h3></div>
                </a>
{% endblock %}

{% block page_content %}

{% endblock %}