<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>Swim Time Instructor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Swim Time Instructor" name="description"/>
    <meta content="" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <!-- App favicon -->
    <link rel="shortcut icon" href="/static/images/favicon.ico">

    <!-- App css -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/app.min.css' %}" rel="stylesheet" type="text/css"/>

</head>

<body class="account-body accountbg">
<style>
    .top_alert_position {
        position: fixed;
        background: #fff;
        top: 10%;
        right: 30px;
        z-index: 9;
    }
    .toggle-password {
    float: right;
    cursor: pointer;
    margin-right: 16px;
    margin-top: 11px;
    margin-left: 393px;
    position: absolute;
}
</style>
<script>
  setTimeout(function () {
      $('.top_alert_position').remove();
        }, 2000)
  </script>
{% if error %}
    <div class="top_alert_position alert custom-alert custom-alert-danger icon-custom-alert alert-secondary-shadow fade show"
         role="alert">
        <i class="la la-skull-crossbones alert-icon text-danger align-self-center font-30 mr-3"></i>
        <div class="alert-text my-1">
            <h5 class="mb-1 font-weight-bold mt-0">Danger</h5>
            <span>{{ password_error }} {{ email_error }} {{ error }}</span>
        </div>
        <div class="alert-close ">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <strong aria-hidden="true" class="text-danger">
                    <i class="mdi mdi-close font-16"></i>
                </strong>
            </button>
        </div>
    </div>
{% endif %}

{% if page_errors %}
    {% for error in page_errors %}
        <div class="top_alert_position alert custom-alert custom-alert-danger icon-custom-alert alert-secondary-shadow fade show"
             role="alert">
            <i class="la la-skull-crossbones alert-icon text-danger align-self-center font-30 mr-3"></i>
            <div class="alert-text my-1">
                <h5 class="mb-1 font-weight-bold mt-0">Danger</h5>
                <span>{{ error }}</span>
            </div>
            <div class="alert-close ">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <strong aria-hidden="true" class="text-danger">
                        <i class="mdi mdi-close font-16"></i>
                    </strong>
                </button>
            </div>
        </div>
    {% endfor %}
{% endif %}

{% if unique_no %}
    <div class="top_alert_position alert custom-alert custom-alert-danger icon-custom-alert alert-secondary-shadow fade show"
         role="alert">
        <i class="la la-skull-crossbones alert-icon text-danger align-self-center font-30 mr-3"></i>
        <div class="alert-text my-1">
            <h5 class="mb-1 font-weight-bold mt-0">Danger</h5>
            <span>{{ unique_no }}</span>
        </div>
        <div class="alert-close ">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <strong aria-hidden="true" class="text-danger">
                    <i class="mdi mdi-close font-16"></i>
                </strong>
            </button>
        </div>
    </div>
{% endif %}

{% if errors.email %}
    {% for error in errors.email %}
        <div class="top_alert_position alert custom-alert custom-alert-danger icon-custom-alert alert-secondary-shadow fade show"
             role="alert">
            <i class="la la-skull-crossbones alert-icon text-danger align-self-center font-30 mr-3"></i>
            <div class="alert-text my-1">
                <h5 class="mb-1 font-weight-bold mt-0">Danger</h5>
                <span>{{ error }}</span>
            </div>
            <div class="alert-close ">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <strong aria-hidden="true" class="text-danger">
                        <i class="mdi mdi-close font-16"></i>
                    </strong>
                </button>
            </div>
        </div>
    {% endfor %}
{% endif %}

{% if success %}
    <div class="top_alert_position alert custom-alert custom-alert-success icon-custom-alert alert-secondary-shadow fade show"
         role="alert">
        <i class="mdi mdi-check-all alert-icon alert-icon text-success align-self-center font-30 mr-3"></i>
        <div class="alert-text my-1">
            <h5 class="mb-1 font-weight-bold mt-0">Success</h5>
            <span>{{ success }} </span>
        </div>
        <div class="alert-close ">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <strong aria-hidden="true" class="text-success">
                    <i class="mdi mdi-close font-16"></i>
                </strong>
            </button>
        </div>
    </div>
{% endif %}
<!-- Log In page -->
<div class="container">
    <div class="row vh-100 d-flex justify-content-center">
        <div class="col-12 align-self-center">
            <div class="row">
                <div class="col-lg-5 mx-auto">
                    <div class="card">
                        <div class="card-body p-0 auth-header-box">
                            <div class="text-center p-3">
                                <a href="#" class="logo logo-admin">
                                    <img src="{% static 'images/logo-sm-dark.png' %}" height="50" alt="logo"
                                         class="auth-logo">
                                </a>
                                <h4 class="mt-3 mb-1 font-weight-semibold text-white font-18">Let's Get Started
                                    SwimTime</h4>
                                <p class="text-muted  mb-0">Sign in to continue to SwimTime.</p>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <ul class="nav-border nav nav-pills" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active font-weight-semibold" data-toggle="tab" href="#LogIn_Tab"
                                       role="tab">Log In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link font-weight-semibold" data-toggle="tab" href="#Register_Tab"
                                       role="tab">Register</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active p-3" id="LogIn_Tab" role="tabpanel">
                                    <form class="form-horizontal auth-form"
                                          action="{% url 'InstructorDashboard:login' %}" method="post">
                                        {% csrf_token %}
                                        <div class="form-group mb-2">
                                            <label for="username">Username</label>

                                            <div class="input-group">
                                                <input pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                                       title="Invalid user name format, it should be example@example.com"
                                                       type="email" required class="form-control" name="email"
                                                       id="username"
                                                       placeholder="Enter username" required>
                                            </div>
                                        </div>
                                        <div class="form-group mb-2">
                                            <label for="userpassword">Password</label>
                                            <div class="input-group">
                                                <input type="password"
                                                       pattern="^(?=.*[0-9])(?=.*[!@#$%^&*_()+=-])[a-zA-Z0-9!@#$%^&*_()+=-]{6,16}$"
                                                       title="Password Contains Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character"
                                                       class="form-control" name="password"
                                                       id="userpassword" placeholder="Enter password" required>
                                                <i class="toggle-password fa fa-fw fa-eye-slash"></i>
                                            </div>
                                        </div>
                                        <div class="form-group row my-3">
                                            <div class="col-sm-6">
                                                {#                                                <div class="custom-control custom-switch switch-success">#}
                                                {#                                                    <input type="checkbox" class="custom-control-input"#}
                                                {#                                                           id="customSwitchSuccess">#}
                                                {#                                                    <label class="custom-control-label text-muted"#}
                                                {#                                                           for="customSwitchSuccess">Remember me</label>#}
                                                {#                                                </div>#}
                                            </div>
                                            <div class="col-sm-6 text-right" >
                                                <a href="{% url 'InstructorDashboard:forgot_password' %}"
                                                   class="text-muted font-13" > <i
                                                        class="dripicons-lock" style="color: #0A66C2" ></i><span style="color: #0A66C2"> Forgot password?</span></a>

                                            </div>
                                        </div>

                                        <div class="form-group mb-0 row">
                                            <div class="col-12">
                                                <button class="btn btn-primary btn-block waves-effect waves-light"
                                                        type="submit">Log In <i class="fas fa-sign-in-alt ml-1"></i>
                                                </button>
                                            </div><!--end col-->
                                        </div> <!--end form-group-->
                                    </form><!--end form-->
                                    {#                                    <div class="m-3 text-center text-muted">#}
                                    {#                                        <p class="mb-0">Don't have an account ?#}
                                    {#                                            <a href="#Register_Tab" class="text-primary ml-2">Free#}
                                    {#                                            Resister</a>#}
                                    {##}
                                    {#                                    <a class="nav-link text-primary ml-2" data-toggle="tab" href="#Register_Tab"#}
                                    {#                                       role="tab">Free#}
                                    {#                                            Resister</a>#}
                                    {#                                        </p>#}
                                    {#                                    </div>#}
                                    {#                                    <div class="account-social">#}
                                    {#                                        <h6 class="mb-3">Or Login With</h6>#}
                                    {#                                    </div>#}
                                    {#                                    <div class="btn-group btn-block">#}
                                    {#                                        <button type="button" class="btn btn-sm btn-outline-secondary">Facebook</button>#}
                                    {#                                        <button type="button" class="btn btn-sm btn-outline-secondary">Twitter</button>#}
                                    {#                                        <button type="button" class="btn btn-sm btn-outline-secondary">Google</button>#}
                                    {#                                    </div>#}
                                </div>
                                <div class="tab-pane px-3 pt-3" id="Register_Tab" role="tabpanel">
                                    <form class="form-horizontal auth-form" method="post"
                                          action="{% url 'InstructorDashboard:register' %}">
                                        {% csrf_token %}

                                        <div class="form-group mb-2">
                                            <label for="firstname">First Name </label>
                                            <div class="input-group">
                                                <input pattern="[A-Za-z]{3,}"
                                                       title="Only Alphabetic characters are Allowed" type="text"
                                                       class="form-control" required value=""
                                                       name="first_name" id="firstname"
                                                       placeholder="Enter First Name">
                                            </div>
                                        </div><!--end form-group-->
                                        <div class="form-group mb-2">
                                            <label for="lastname">Last Name </label>
                                            <div class="input-group">
                                                <input pattern="[A-Za-z]{3,}"
                                                       title="Only Alphabetic characters are Allowed" type="text"
                                                       class="form-control" required value=""
                                                       name="last_name" id="lastname"
                                                       placeholder="Enter Last Name">
                                            </div>
                                        </div><!--end form-group-->

                                        <div class="form-group mb-2">
                                            <label for="useremail">Email</label>
                                            <div class="input-group">
                                                <input type="email" pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                                       title="Invalid Email Address" class="form-control" required
                                                       value="" name="email"
                                                       placeholder="Enter Email">
                                            </div>
                                        </div><!--end form-group-->

                                        <div class="form-group mb-2">
                                            <label for="userpassword">Password</label>
                                            <div class="input-group">
                                                <input type="password" class="form-control" minlength="8" required
                                                       value="" name="password"
                                                       pattern="^(?=.*[0-9])(?=.*[!@#$%^&*_()+=-])[a-zA-Z0-9!@#$%^&*_()+=-]{6,16}$"
                                                       title="Password Contains Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character"
                                                       id="userpassword" placeholder="Enter password">
                                                <i class="toggle-password fa fa-fw fa-eye-slash"></i>
                                            </div>
                                        </div><!--end form-group-->

                                        <div class="form-group mb-2">
                                            <label for="conf_password">Confirm Password</label>
                                            <div class="input-group">
                                                <input type="password" value="" class="form-control" minlength="8"
                                                       required name="conf_password"
                                                       pattern="^(?=.*[0-9])(?=.*[!@#$%^&*_()+=-])[a-zA-Z0-9!@#$%^&*_()+=-]{6,16}$"
                                                       title="Password Contains Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character"
                                                       id="conf_password" placeholder="Enter Confirm Password">
                                                <i class="toggle-password fa fa-fw fa-eye-slash"></i>
                                            </div>
                                        </div><!--end form-group-->

                                        <div class="form-group mb-2">
                                            <label for="mo_number">Mobile Number</label>
                                            <div class="input-group">
                                                <input type="text" value="" class="form-control" required
                                                       pattern="[0-9 ]{8,20}"
                                                       title="only numeric characters are allowed of range between 8 to 20"
                                                       name="mobile_no"
                                                       id="mo_number" placeholder="Enter Mobile Number">
                                            </div>
                                        </div><!--end form-group-->

                                        <div class="form-group row my-3">
                                            <div class="col-sm-12">
                                                <div class="custom-control custom-switch switch-success">
                                                    <input type="checkbox" class="custom-control-input"
                                                           id="customSwitchSuccess2" required>
                                                    <label class="custom-control-label text-muted"
                                                           for="customSwitchSuccess2">  You agree to the SwimTime
                                                        <a target="_blank"
                                                           href="{% url 'InstructorDashboard:terms_conditions' %}"
                                                           class="text-primary">Terms of Use</a></label>
                                                </div>
                                            </div><!--end col-->
                                        </div><!--end form-group-->

                                        <div class="form-group mb-0 row">
                                            <div class="col-12">
                                                <button class="btn btn-primary btn-block waves-effect waves-light"
                                                        type="submit">Register <i class="fas fa-sign-in-alt ml-1"></i>
                                                </button>
                                            </div><!--end col-->
                                        </div> <!--end form-group-->
                                    </form><!--end form-->
                                    {#                                    <p class="my-3 text-muted">Already have an account ?<a href="auth-login.html"#}
                                    {#                                                                                           class="text-primary ml-2">Log#}
                                    {#                                        in</a></p>#}
                                </div>
                            </div>
                        </div><!--end card-body-->
                        <div class="card-body bg-light-alt text-center">
                            <span class="text-muted d-none d-sm-inline-block">SwimTime © 2021</span>
                        </div>
                    </div><!--end card-->
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end col-->
    </div><!--end row-->
</div><!--end container-->
<!-- End Log In page -->


<!-- jQuery  -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/waves.js' %}"></script>
<script src="{% static 'js/feather.min.js' %}"></script>
<script src="{% static 'js/simplebar.min.js' %}"></script>



<script>
//javascript for eye toggle icon

    $(".toggle-password").click(function() {
    $(this).toggleClass("fa-eye fa-eye-slash");
    input = $(this).parent().find("input");
    if (input.attr("type") == "password") {
        input.attr("type", "text");
    } else {
        input.attr("type", "password");
    }
});


//javascript for mobile no validation
    $('#mo_number').keypress(function(e) {
    var a = [];
    var k = e.which;

    for (i = 48; i < 58; i++)language
        a.push(i);

    if (!(a.indexOf(k)>=0))
        e.preventDefault();

    $('span').text('KeyCode: '+k);
});
</script>
<script>
        setTimeout(function () {
            $("[data-dismiss=alert]").click();
        }, 2000);
    </script>

</body>

</html>